.CodeMirror {
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
  font: inherit;
  z-index: 1;

  &-code {
    .cm-tag {
      color: #63a35c;
    }

    .cm-attribute {
      color: #795da3;
    }

    .cm-string {
      color: #183691;
    }

    .cm-header-1 {
      font-size: 200%;
      line-height: 200%;
    }

    .cm-header-2 {
      font-size: 160%;
      line-height: 160%;
    }

    .cm-header-3 {
      font-size: 125%;
      line-height: 125%;
    }

    .cm-header-4 {
      font-size: 110%;
      line-height: 110%;
    }

    .cm-comment {
      background: rgba(0, 0, 0, 0.05);
      border-radius: 2px;
    }

    .cm-link {
      color: #7f8c8d;
    }

    .cm-url {
      color: #aab2b3;
    }

    .cm-strikethrough {
      text-decoration: line-through;
    }
  }

  &-placeholder {
    opacity: 0.5;
  }

  &-scroll {
    padding: 8px 16px;
  }

  &-sizer {
    height: 100%;
  }
}
